.u-section-1 .u-sheet-1 {
  min-height: 99px;
}

.u-section-1 .u-text-1 {
  margin: 61px auto -41px;
}.u-section-2 .u-sheet-1 {
  min-height: 3008px;
}

.u-section-2 .u-text-1 {
  margin: 66px 0 54px;
}